
@{
    ViewData["Title"] = "Favoritos";
}

<h1 >Favoritos</h1>

<table id="favoritos-table"class="table">
    <thead>
        <tr>
            @*<th id="cabecero">ID</th>*@
            <th id="cabeceroN">Nombre</th>
            <th id="cabecero">Remover</th>
        </tr>
    </thead>
    <tbody>
        <!-- Las filas de la tabla se agregarán aquí dinámicamente -->
    </tbody>
</table>


 <script>
      
       favo()
    </script>