

@{
    ViewData["Title"] = "Home Page";
}
<form action="@Url.Action("Cocteles", "Home")" method="post">
<div class="form-containerIndex"> 
    <label for="opciones">Selecciona una opción:</label>
    <select class="form-select w-25"  id="opciones" name="opciones">
        <option value="0">Seleccione</option>
        <option value="1">Coctel</option>
        <option value="2">Ingrediente</option>
    </select>
     <input type="text" id="textbuscar" name="textbuscar" placeholder="" hidden>
     <input type="submit" value="Buscar" />
     </div>
     <div class="form-gropu">
     <label for="opciones">Coctel gratis de bienvenida:</label>
     <p>@ViewBag.Mensaje</p>
     </div>

</form>


